*.log
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

## https://github.com/github/gitignore/blob/master/Gradle.gitignore
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

.classpath
.project
target
.idea
*.iml
*.ipr

# example output
*.json*
*.html*

# Ignore Gradle build output directory
build
