name: Markdown checker

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project
      uses: actions/checkout@v6
    - name: Lint Markdown
      uses: DavidAnson/markdownlint-cli2-action@v20
      with:
        globs: |
          *.md
          !test/*.md
